<div id="project"></div>
<%=render "layouts/site_carousel"%>

<%= render "layouts/site_new_arrivals"%>

<!-- <script type="text/javascript">
  $('#myModal23').on('hidden', function(){
    $( '.modal-backdrop' ).remove();
  });

</script> -->


