<div class="new_arrivals_agile_w3ls_info">
  <div class="container">
    <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
    <div id="horizontalTab">

        <div class="resp-tabs-container">
          <!--/tab_one-->
          <div class="tab1">
            <%new_arrivals.each do |product|%>
            <div class="col-md-3 product-men">
              <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                  <%= image_tag product.images.first.image.url if product.images.present?%>
                  <%#= image_tag "m1.jpg", class: "pro-image-back" %>
                  <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                  <%= link_to product_path(product) do %>
                      <span class="link-product-add-cart">Quick View</span>
                  <% end %>
                    </div>
                  </div>
                  <span class="product-new-top">New</span>

                </div>
                <div class="item-info-product ">
                  <h4><%=link_to product.name, product_path(product) %></h4>
                  <div class="info-product-price">
                    <span class="item_price">₹<%= product.price %></span>
                  </div>


                </div>
              </div>
            </div>
          <%end%>



            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>