  <!-- //new_arrivals -->
  <!--/slider_owl-->

  <div class="container">
    <div class="w3_agile_latest_arrivals">
      <h3 class="wthree_text_info">Featured <span>Arrivals</span></h3>


      <div class="clearfix"> </div>
      <%@related_products = @similar_products.last(4)%>
      <%@related_products.each do |product|%>
      <%#related_products.each do |product|%>
      <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
          <div class="men-thumb-item">
            <%= image_tag product.images.first.image.url if product.images.present?%>
            <div class="men-cart-pro">
              <div class="inner-men-cart-pro">
                <%= link_to product_path(product) do %>
                <span class="link-product-add-cart">Quick View</span>
                <% end %>
              </div>
            </div>
            <span class="product-new-top">New</span>

          </div>
          <div class="item-info-product ">
            <h4><%=link_to product.name, product_path(product) %></h4>
            <div class="info-product-price">
              <span class="item_price">₹<%= product.price %></span>
            </div>


          </div>
        </div>
      </div>
      <%end%>
      <!--//slider_owl-->
    </div>
  </div>
</div>
<!-- </div> -->